

h1 {
color:#0000CD;
}

button{
color:#0000FF;
 margin: 5%;
    box-sizing: border-box;
    width: 10%;
    height: 10%;
}

body{
background:#6495ED;
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

button{
color:#000080;
}

.btn-successs{
background-color:red;
}


