{% extends 'base.html' %}

{% block content %}


<table class="table table-striped">

    <tr>
    <th>Vendor/Supplier Name</th>
    <th>Product Name</th>
    <th>Quality</th>
    <th>Delivery</th>
    <th>Price</th>
    <th>Service</th>
    <th>Risk</th>
    </tr>

    {% for i in rating %}
    <tr>
        <td>{{ i.vname }}</td>
        <td>{{ i.vproduct }}</td>
        <td>{{ i.quality }}</td>
        <td>{{ i.rdeli }}</td>
        <td>{{ i.rprice }}</td>
        <td>{{ i.service }}</td>
        <td>{{ i.risk }}</td>
        <td>
            <a href="editing/{{ i.id }}">Edit</a>
        </td>
        <td>
            <a href="deleting/{{ i.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
