{% load static %}

<html>

<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'css/style2.css'%}"/>

</head>

<!DOCTYPE html>
<head>
    <title> Attendence Page </title>
</head>

<body>
   <h1 style="color:white;text-align:center;padding-top:5%"> ATTENDENCE</h1>
  <center> <button type="submit" style="width:40%; background-color:black;border-radius:2%;border:none;color:white;font-weight:500;font-size:30px;"><a href="{% url 'webpage3' %}" style="color:white;text-decoration:none;">show details<br/><br/></a></button></center>
</body>
</html>


