{% extends "base.html" %}

{% block content %}
<style>
.container {
  height: 200px;
  position: relative;

}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

 }

.card{
    height: 200px;
    position: relative;
    border: 3px solid black;

}
</style>

<h1>Energy Consultancy</h1>

<br>

<div class="card">
  <div class="card-body">
      <h3>Domestic Energy Consultancy</h3>
      <ul>
          {% for consultancy in cusStatus %}

            <li>{{ object.cusName}}</li>

          {% endfor %}
      </ul>
  </div>
</div>







{% endblock %}