{% load static %}

<html>

<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'css/style2.css'%}"/>
<style>

        .input {
  width: 240%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form_btn{
background-color: #4CAF50;
  color: white;
  padding: 4px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;}
  .form_btn a{
  color:white;
text-decoration:none;
font-size:20px;
font-wight:500;
font-family: 'Hind Siliguri', sans-serif;
  }
</style>
</head>
<h1 style="color:white;text-align:center;padding-top:5%">FINANCE</h1>
<div style="padding-left:30%;padding-right:30%;padding-top:0%;">
    <form  style="background-color:#007969;padding:2%;border-radius:2px;">

<table>


        <td><label> accountNo: </label></td>
        <tr>
            <td><input name="eaccountNo" required value="{{ employee.eaccountNo}}" class="input">
        </td>
        </tr>
        <td><label> Branch: </label></td>
        <tr>
            <td><input name="ebranch" required value="{{ employee.ebranch}}" class="input">
        </td>
        </tr>
        <td><label> Name_f: </label></td>
        <tr>
            <td><input name="ename_f" required value="{{ employee.ename_f}}" class="input">
        </td>
        </tr>
        <td><label> Name_l: </label></td>
        <tr>
            <td><input name="ename_l" required value="{{ employee.ename_l}}" class="input">
        </td>
        </tr>
        <td><label> salary: </label></td>
        <tr>
            <td><input name="esalary" required value="{{ employee.esalary}}" class="input">
        </td>
        </tr>
        <td><label> Extra payments: </label></td>
        <tr>
            <td><input name="epaymentextra" required value="{{ employee.epaymentextra}}" class="input" >
        </td>
        </tr>
        <tr>
        <td><button class="form_btn"><a href="{% url 'webpage6' %}">Save</a></button></td>
        </tr>

    </table>
    </form>
</div>



</html>