<!DOCTYPE html>
<html lang="en">

    {% load static %}

<html>

<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'css/style3.css'%}"/>


</head>
<body>
<h1 style="color:white;text-align:center;padding-top:5%">FINANCE DETAILS</h1>
<center>
    <button type="button" style="width:40%; background-color:green;border-radius:2%;border:none;color:white;font-weight:500;font-size:30px;margin-top:5%;" ><a href="{% url 'webpage5' %}" style="color:white;text-decoration:none;">Views</a></button></center>
</body>
</html>