{% load static %}

<html>

<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'css/style2.css'%}"/>

</head>

<div style="padding-left:10%;padding-right:10%;padding-top:5%;">

<table class="R_table">
    <tr class="header">

    <th>accountNo</th>
    <th>Branch</th>
    <th>Name_f</th>
    <th>Name_l</th>
    <th>salary</th>
        <th>Extra payments</th>
    </tr>
        <tr class="header">
            <th><input name="eaccountNo" required value="{{ employee.eaccountNo}}" class="input"></th>
            <th><input name="ebranch" required value="{{ employee.ebranch}}" class="input"></th>
            <th><input name="ename_f " required value="{{ employee.ename_f }}" class="input"></th>
            <th><input name="ename_l " required value="{{ employee.ename_l}}" class="input"></th>
            <th><input name="esalary" required value="{{ employee.esalary}}" class="input"></th>
            <th><input name="epaymentextra" required value="{{ employee.epaymentextra}}" class="input"></th>
        </tr>
    {% for i in employee %}
 </table>
    <tr class="fill">
        <td>{{  i.eaccountNo   }}</td>
        <td>{{  i.ebranch   }}</td>
        <td>{{  i.ename_f  }}</td>
        <td>{{  i.ename_l  }}</td>
        <td>{{  i.esalary  }}
        <td>{{  i.epaymentextra  }}</td>
    </tr>
    {% endfor %}

    <table class="R_table">
        <tr class="header">
            <td><input name="eaccountNo" required value="{{ employee.eaccountNo}}" class="input"></td>
            <td><input name="ebranch" required value="{{ employee.ebranch}}" class="input"></td>
            <td><input name="ename_f " required value="{{ employee.ename_f }}" class="input"></td>
            <td><input name="ename_l " required value="{{ employee.ename_l}}" class="input"></td>
            <td><input name="esalary" required value="{{ employee.esalary}}" class="input"></td>
            <td><input name="epaymentextra" required value="{{ employee.epaymentextra}}" class="input"></td>
        </tr>
</table>
    <div style="paddint-right:5%;">
        <button > Confirm </button>
    </div>
</div>
    <div style="paddint-right:5%;">
     <button style="width:20%; background-color:green;border-radius:2%;border:none;color:white;font-weight:300;font-size:20px;margin-top:20%;" ><a href="{% url 'webpage1' %}" style="text-decoration:none;color:white;">Go Home</a></button>
    </div>

 </html>


