
{% load static %}

<html>

<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'css/style2.css'%}"/>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap" rel="stylesheet">
    <style>

    </style>
</head>

<div style="padding-left:30%;padding-right:30%;padding-top:5%;">
    <form method="post"  action="add"  style="background-color:#007969;padding:2%;border-radius:2px;">
    {% csrf_token %}
    <label> Name_first: </label>
    <div>{{ form.ename_f}}</div>

    <label> Name_last: </label>
    <div>{{ form.ename_l}}</div>

    <label> Contact: </label>
    <div>{{ form.econtact}}</div>

    <label> Gender: </label>
    <div>{{ form.egender}}</div>

    <label> HomeTown: </label>
    <div>{{ form.ehometown}}</div>

    <div>
        <button class="btn success" type="submit">Add</button>
    </div>

</form>
</div>


</html>