
{% load static %}

<html>

<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'css/style2.css'%}"/>

</head>





    <form method="POST" action="/search" style="padding-top:5%;padding-right:5%;padding-left:5%;">
        {%  csrf_token %}
        <table width="100%">
        <tr>
            <td><input name="name" class="filter_table_input" >  </td>
            <td><button type="submit" class="search" >Search</button></td>
        </tr>
            </table>
    </form>



<table class="R_table">
    <tr class="header">
    <th>Name_first</th>
    <th>Name_last</th>
    <th>contact</th>
    <th>gender</th>
    <th>hometown</th>
        <th></th>
        <th></th>
    </tr>

    {% for i in employee %}

    <tr class="fill">
        <td>{{  i.ename_f   }}</td>
        <td>{{  i.ename_l   }}</td>
        <td>{{  i.econtact  }}</td>
        <td>{{  i.egender  }}</td>
        <td>{{  i.ehometown   }}</td>
        <td>

            <button class="edit" ><a href="edit/{{ i.id }}" >Edit</a></button>
        </td>
        <td>
            <button class="delete"><a href="delete/{{ i.id }}">Delete</a></button>
        </td>
    </tr>
    {% endfor %}

</table>

 <td>
     <button class="btn success btn_a" ><a href="{% url 'webpage2' %}">GO TO ATTENDENCE</a></button>
 </td>

</html>
