
{% load static %}

<html>

<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'css/style3.css'%}"/>

</head>




<table>

    <form method="POST" action="/search">
        {%  csrf_token %}
        <tr>
            <td><input name="name" >  </td>
            <td><button type="submit">Search</button></td>
        </tr>
    </form>




    <tr>
    <th>Name_first</th>
    <th>Name_last</th>
    <th>contact</th>
    <th>gender</th>
    <th>hometown</th>
    </tr>

    {% for i in employee %}

    <tr>
        <td>{{  i.ename_f   }}</td>
        <td>{{  i.ename_l   }}</td>
        <td>{{  i.econtact  }}</td>
        <td>{{  i.egender  }}</td>
        <td>{{  i.ehometown   }}</td>
        <td>

            <button><a href="edit/{{ i.id }}">Edit</a></button>
        </td>
        <td>
            <button><a href="delete/{{ i.id }}">Delete</a></button>
        </td>
    </tr>
    {% endfor %}

</table>

 <td>
     <button><a href="{% url 'webpage2' %}">GO TO ATTENDENCE</a></button>
 </td>

</html>
